.booking-container {
    
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.booking-container h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.booking-container label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.booking-container input,
.booking-container select,
.booking-container .react-datepicker-wrapper {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.booking-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.booking-container button:hover {
    background-color: #46779b;
}
